@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.visualizer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .array-container {
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 100%;
    overflow: hidden;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .slider {
    width: 200px;
  }

  /* src/pages/PathfindingVisualizer.css */

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .node {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-end {
    background-color: red;
  }
  
  .node-wall {
    background-color: black;
  }
  
  .node-visited {
    background-color: yellow;
  }
  
  .node-shortest-path {
    background-color: blue;
  }
  